nav{
  display: flex;
  justify-content: flex-start;
  padding: 1% 2% 0%;
  img{
    width: 4%;
    height: 4%;
  }
  ul{
    width: 80%;
    list-style: none;
    overflow: hidden;

    li{
      display: inline;
      color: rgb(17, 17,17);
      font-weight: 700;
      margin: 0% 2%;
    }
  }
}

