<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
  <div class="modal-content">
    <div class="row">
      <div class="col-6">
        <img src="{{infoPhotoModal?.urls.small}}" alt="">
      </div>
      <div class="col-6">
        <h2>{{infoPhotoModal?.alt_description}}</h2>
        <img src="{{infoPhotoModal?.user.profile_image.small}}" alt="">
        <span>{{infoPhotoModal?.user.name}}</span>
        <a href="{{infoPhotoModal?.user.links.followers}}">holaaaa</a>
      </div>
    </div>
  </div>
</div>



